/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Bricolage Grotesque', sans-serif;
}

/* SIDEBAR */
.admin-sidebar {
    margin: 20px;
    width: 200px;
}

.sidebar-glass {
    position: sticky;
    height: calc(100vh - 40px);
    padding: 20px;
    border-radius: 24px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255,255,255,0.15);
    color: white;
    background-color: #121212;
}

/* MENU */
.menu-card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 14px;
    border-radius: 14px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: .25s;
}

.menu-card:hover {
    transform: translateY(-2px);
}

/* SUB MENU */
.menu-sub {
    display: block;
    margin: 8px 0 0 20px;
    padding: 10px 14px;
    border-radius: 12px;
    font-size: 14px;
    color: white;
}

/* COLOR VARIANTS */
.glass-menu   { background: rgba(59,130,246,.25); border: 1px solid rgba(255,255,255,0.15); }
.glass-sub-menu{ background: rgba(139,92,246,.25); border: 1px solid rgba(255,255,255,0.15); }

#profileToggle[aria-expanded="true"] .arrow {
    transform: rotate(180deg);
}

a {
    text-decoration: none;
}
