@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   ADMIN HEADINGS
========================= */

.admin h1,
.admin h2,
.admin h3,
.admin p,
.admin .page-title,
.admin .skill-title {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
}
.admin h1 {
    font-size: 2rem;
}

.admin h1 {
    font-size: 2rem;
}



/* =========================
   ANIMATIONS
========================= */
.cursor {
    display: inline-block;
    margin-left: 2px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

@keyframes fadeInLeft {
  from { opacity: 0; transform: translateX(-40px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInRight {
  from { opacity: 0; transform: translateX(40px); }
  to { opacity: 1; transform: translateX(0); }
}

.animate-fade-in-left {
  animation: fadeInLeft 1s ease-out forwards;
}

.animate-fade-in-right {
  animation: fadeInRight 1s ease-out forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-up {
    animation: fadeUp 0.6s ease forwards;
    opacity: 0;
}

.filter-btn {
  @apply px-5 py-2 rounded-full border border-white/20 text-gray-300 transition;
}

.filter-btn.active {
  @apply bg-indigo-600 text-white;
}

.bg-shape {
  position: fixed;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.6;
  z-index: -1;
  transition: transform 0.3s ease-out;
}

.bg-shape.purple {
  background: #7d2ae7;
  top: 20%;
  left: 10%;
}

.bg-shape.blue {
  background: #0cfaf5;
  bottom: 15%;
  right: 10%;
}

.bg-shape.pink {
  background: #eb286e;
  bottom: 15%;
  right: 10%;
}